<%= form_with model: @question do |form| %>
  <div>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
    <% @question.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
